<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

<body>
  <div class="d-flex flex-column vh-40 text-center">
    <app-root class="mb-auto"></app-root>
    <footer class="container-fluid w-100 bg-light text-dark py-3">
      <div id="copyright">
        
        <span class="pull-right copyright">&copy; 2021 NewsMonkey Inc.</span><br>
        <span>Phone Number: 1-800-225-9965</span>
      </div>
    </footer>
    <br>
  </div>
</body>