<app-header></app-header>

<div class="d-flex justify-content-center">
    <div class="card" style="width: 48rem;">
        <div class="card-header text-center">
            HAVE A QUERY???
        </div>
        <div class="card-body">
                <form #f="ngForm" *ngIf=(!sent)>
                    <div class="form-group">
                        <label>Name</label>
                        <input class="form-control" type="text" name="fulName" placeholder="Name" #name="ngModel" ngModel>
                    </div>
                    <div class="form-group">
                        <label>Email</label>
                        <input class="form-control" type="email" name="email" placeholder="email" #email="ngModel" ngModel>
                    </div>
                    <div class="form-group">
                        <label>Phone Number</label>
                        <input class="form-control"  name="phone" type="number"  placeholder="phone" #phone="ngModel" ngModel>
                    </div>
                    <div class="form-group">
                        <label>Query</label>
                        <textarea rows="4" cols="50"  form="usrform" input class="form-control" type="text" name="query" placeholder="Your query here" #query="ngModel" ngModel> </textarea>
                     </div>
                    <div class="text-center">
                     <button class="btn btn-primary" type="submit" (click)="onSubmit(f.value)">Submit</button>
                    </div>
            </form>
        </div>
        <div class="alert alert-success" *ngIf=(sent)>
            Query submited succesfully. An admin will reach out to you in 2-3 business days.
        </div>
        
        <div class="alert alert-danger" role="alert" *ngIf="validationErrors">
            ERROR: Input fields cannot be empty.
        </div>
    </div>
</div>

<app-footer></app-footer>

                    

