<app-header></app-header>

<div class="card">

<div class="card-body">
<div class="container" style="padding: 1%;">
    <div class="text-center">
        <div class="card">
            <div class="card-header">
               <h4>WHERE TO FIND US</h4> 
            </div>
            <div class="card-body" style="margin: 16px;">
            <a href="https://www.google.com/maps/place/Monkey+Market/@34.1472344,-77.901844,17z/data=!3m1!4b1!4m5!3m4!1s0x89a9f6415f902955:0x517066db0e302e9a!8m2!3d34.14723!4d-77.89965">
                <img src='../assets/location.png' class="iconDetails">
            </a>	
        </div>
        </div>

            <div class="card">
                <div class="card-header">
            <h4>ABOUT US</h4>
                </div>
                <div class="card-body">
                <div style="font: size 12px;;float:left;">
            NewsMonkey promises to bring the best, the rarest and the most controversial
            topics straight to your doorstep. Just visit our website and you'll know why
            experts regard us with unparalleled reverence. Our headquarters is situated
            at a buzzy hub at the city side. Click on the maps to view the location.
                </div>
                </div>

                <div class="card">
                    <div class="card-header">
                <h4>HISTORY</h4>
                    </div>
                    <div class="card-body">
                    <div style="font: size 12px;;float:left;">
                NewsMonkey was founded by a pair of over-energetic individuals who
                swore to the world they'd explore the entire sea and return triumphantly 
                with the juiciest of news. As much as the society looked upon their 
                conquest with cold eyes, they defied the odds. Or so was the tale they 
                tell to the media if interviewed today. In reality, they just started off
                like every other company - with a proper plan, and funding of course.
                    </div>
                    </div>

                    <div class="card">
                        <div class="card-header">
                    <h4>BOARD OF DIRECTORS</h4>
                        </div>
                        <div class="card-body text-center">
                        <div style="font: size 24px;">

                    Faraz Gul <br>
                    Heyward H <br>
                    Lily D <br>
                    Paul Rich <br>
                    Varun V <br>
                        </div>
                        </div>

           </div>
        </div>
    </div>
</div>
</div>

</div>

<app-footer></app-footer>